<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>Index Page</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" crossorigin="anonymous">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" >
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" >
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/font-awesome-animation.min.css">
	<link rel="stylesheet" href="css/styles.css" >
	

</head>

<body>

	<div id="holder">

		<nav class="navbar navbar-expand navbar-dark navbar-custom fixed-top">

			<div class="container">

			<a class="navbar-brand" href="#" >Notebook</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">

				<span class="navbar-toggler-icon"></span>

			</button>

			<div class="collapse navbar-collapse" id="navbarResponsive">

				<ul class="navbar-nav ml-auto">

				<li class="nav-item">

					<a class="nav-link faa-pulse animated-hover" href="#" onclick="getRegistrationPage()" >Sign Up</a>

				</li>

				<li class="nav-item">

					<a class="nav-link faa-pulse animated-hover" href="#" onclick="getLoginPage()" >Log In</a>

				</li>

				</ul>

			</div>

			</div>

	  	</nav>

		<header id="indexHeader">		

			<h2 id="welcomeText" class="text-center"></h2>

			<div class="d-flex justify-content-center">			

				<button class="btn btn-dark btn-cstm" onclick="getData()" >Continue</button>

			</div>		

		</header>

	</div>		

		<!-- Add New Modal -->

		<div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

			<div class="modal-dialog modal-dialog-centered" role="document">
		
			  <div class="modal-content">
		
				<div class="modal-header">
		
				  <i type="button" class="fa fa-window-close" data-dismiss="modal" aria-label="Close">
		
					<span aria-hidden="true"></span>
		
				  </i>
		
				</div>
		
				<div class="modal-body">
		
					<form id="modalForm">						
		
						<div class="input-group mb-3">

							<input id="newEntry" type="text" class="form-control" placeholder="Add New Entry" aria-label="Add New Entry" aria-describedby="button-addon2" spellcheck="false" maxlength="200" >

							<div class="input-group-append">

							  <button class="btn btn-dark btn-cstm" type="button" onclick="addNewEntry()" id="button-addon2" >Submit</button>

							</div>

						</div>
		
					</form>
		
				</div>
		
			  </div>
		
			</div>
		
		  </div>

		  <!-- Edit Modal -->

		<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

			<div class="modal-dialog modal-dialog-centered" role="document">
		
			  <div class="modal-content">
		
				<div class="modal-header">
		
				  <i type="button" class="fa fa-window-close" data-dismiss="modal" aria-label="Close">
		
					<span aria-hidden="true"></span>
		
				  </i>
		
				</div>
		
				<div class="modal-body">
		
					<form id="editModalForm">						
		
						<div class="input-group mb-3">

							<input id="editEntry" type="text" class="form-control" placeholder="Edit Entry" aria-label="Edit Entry" aria-describedby="button-edit" spellcheck="false" maxlength="200" >

							<div class="input-group-append">

							  <button class="btn btn-dark btn-cstm" type="button" onclick="updateEntry()" id="button-edit" >Submit</button>

							</div>

						</div>
		
					</form>
		
				</div>
		
			  </div>
		
			</div>
		
		  </div>

	<!-- Registration scripts -->
	<script>

		const getRegistrationPage = () => {	
			console.log("geting registration page");

			let redir = new XMLHttpRequest();

			redir.open('GET', '/registrationPage');
			redir.onload = () => {
				document.getElementById('holder').innerHTML = redir.responseText;
			};
			redir.send();
		};

        const registrationForm = {
            username:null,
            password:null,
            message:null
        };

        const submitRegistrationData = () => {
            let request = new XMLHttpRequest();
			registrationForm.username = document.getElementById('username'),
            registrationForm.password = document.getElementById('password'),
            registrationForm.message = document.getElementById('form-message')
			let requestData = `username=${registrationForm.username.value}&password=${registrationForm.password.value}`;

			request.open('post', '/register');
            request.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
            request.onload = () => {
                let responseObject = null;

                try {
                    responseObject = JSON.parse(request.responseText);
                } catch (e) {
                    console.error('Could not parse JSON');
                }

                if(responseObject) {
                    handleResponse(responseObject);
                }
            };
            
			if (registrationForm.username.value != "" && registrationForm.password.value != "") {
				request.send(requestData);
			}
            
        };

        function handleResponse(responseObject) {
            if(responseObject.message == "") {
				console.log("Registration successful");
				getLoginPage();
                
            } else {
                while(registrationForm.message.firstChild) {
                    registrationForm.message.removeChild(registrationForm.message.firstChild);
                }
                
                let message = responseObject.message;
                const li = document.createElement('li');
                li.textContent = message;
                registrationForm.message.appendChild(li);
                registrationForm.message.style.display = "block";
            }
        }

	</script>

	<!-- Login/Logout scripts -->
    <script>

		const logout = () => {
			localStorage.removeItem('currentUser');
			getLoginPage();
		}

		const getLoginPage = () => {	
			console.log("geting login page");

			let redir = new XMLHttpRequest();

			redir.open('GET', '/login');
			redir.onload = () => {
				document.getElementById('holder').innerHTML = redir.responseText;
			};
			redir.send();
		};

        const loginForm = {
            username:null,
            password:null,
            message:null
        };

        const submitLoginData = () => {
            let request = new XMLHttpRequest();
			loginForm.username = document.getElementById('username'),
            loginForm.password = document.getElementById('password'),
            loginForm.message = document.getElementById('form-message')
			let requestData = `username=${loginForm.username.value}&password=${loginForm.password.value}`;

			request.open('post', '/authenticate');
            request.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
            request.onload = () => {
                let responseObject = null;

                try {
                    responseObject = JSON.parse(request.responseText);
                } catch (e) {
                    console.error('Could not parse JSON');
                }

                if(responseObject) {
                    handleResp(responseObject);
                }
            };
            
            request.send(requestData);
        };

        function handleResp(responseObject) {
            if(responseObject.jwt != "") {
                localStorage.setItem('currentUser', responseObject.jwt);
				console.log("login successful");
				getData();
                
            } else {
                while(loginForm.message.firstChild) {
                    loginForm.message.removeChild(loginForm.message.firstChild);
                }
                
                let message = responseObject.message;
                const li = document.createElement('li');
                li.textContent = message;
                loginForm.message.appendChild(li);
                loginForm.message.style.display = "block";
            }
        }

    </script>

	<!-- Update scripts -->
	<script >

			const editModalForm = {
				id:null,
				entry:null
			};

			function editEntry(id, entry) {
				editModalForm.id = id;
				document.getElementById('editEntry').value = entry;
			};

			function updateEntry() {
				
				console.log("updating entry with id " + editModalForm.id);
				editModalForm.entry = document.getElementById('editEntry');
				let token = localStorage.getItem('currentUser');
				let requestData = `id=${editModalForm.id}&updatedEntry=${editModalForm.entry.value}`;

            	let request = new XMLHttpRequest();

				request.open('put', '/entryUpdate');
				request.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
				request.setRequestHeader("Authorization", 'Bearer ' + token);
            	request.onload = () => {
					if(request.status === 403) {
						logout();
					}
                	document.getElementById('holder').innerHTML = request.responseText;
            	};

				if(token) {
					request.send(requestData);

				} else {
					getLoginPage();
				}				
        	};

	</script>

	<!-- Delete scripts -->
	<script >

		function deleteEntry(id) {
			
			console.log("deleting entry " + id);
			let token = localStorage.getItem('currentUser');
			let requestData = `id=${id}`;

			let request = new XMLHttpRequest();

			request.open('delete', '/entryDelete');
			request.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
			request.setRequestHeader("Authorization", 'Bearer ' + token);
			request.onload = () => {
				if(request.status === 403) {
					logout();
				}
				document.getElementById('holder').innerHTML = request.responseText;
			};

			if(token) {
				request.send(requestData);

			} else {
				getLoginPage();
			}				
		};

	</script>

	<!-- AddNewModal scripts -->
	<script>			

			window.addEventListener("load", () => {
            	let modalForm = document.getElementById("modalForm");
				let editModalForm = document.getElementById("editModalForm");
				let holder = document.getElementById("holder");

				modalForm.addEventListener("submit", (event) => {
                	event.preventDefault();
            	});
				editModalForm.addEventListener("submit", (event) => {
                	event.preventDefault();
            	});
				holder.addEventListener("submit", (event) => {
                	event.preventDefault();
            	});
        	});

			const modalForm = {
				newEntry:null
			};

			const addNewEntry = () => {    
				console.log("adding entry");
				modalForm.newEntry = document.getElementById('newEntry');
				let token = localStorage.getItem('currentUser');
				let requestData = `newEntry=${modalForm.newEntry.value}`;

            	let request = new XMLHttpRequest();

				request.open('post', '/entryNew');
				request.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
				request.setRequestHeader("Authorization", 'Bearer ' + token);
            	request.onload = () => {
					if(request.status === 403) {
						logout();
					}
                	document.getElementById('holder').innerHTML = request.responseText;
            	};

				if(token) {
					request.send(requestData);

				} else {
					getLoginPage();
				}				
        	};		

	</script>

	<!-- Get data scripts -->
	<script>

			const getData = () => {	
				console.log("geting data");
				let token = localStorage.getItem('currentUser');

				let redir = new XMLHttpRequest();

				redir.open('GET', '/entries');
				redir.setRequestHeader("Authorization", 'Bearer ' + token);
				redir.onload = () => {
					if(redir.status === 403) {
						logout();
					}
					document.getElementById('holder').innerHTML = redir.responseText;
				};				

				if(token) {
					redir.send();
				} else {
					getLoginPage();
				}
			};

	</script>

	<!-- Jwt scripts -->
	<script>

			function parseJwt (token) {
				let base64Url = token.split('.')[1];
				let base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
				let jsonPayload = decodeURIComponent(atob(base64).split('').map((c) => {
					return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
				}).join(''));

    			return JSON.parse(jsonPayload);
			};

	</script>

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>